  <title>Omaha Dog-Friendly Blog | Omaha.dog</title>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="The Official Omaha Dog-Friendly Blog, aka the Dog Blog " />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property='fb:admins' content='1499820013'/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Omaha Dog-Friendly Blog | Omaha.dog"/>
  <meta property="og:description" content="The Official Omaha Dog-Friendly Blog, aka the Dog Blog"/>
  <meta property="og:url" content="http://url.to.com/infographic/url"/>
  <meta property="og:image" content="http://omaha.dog/facebookshare.png"/>
  <meta property='og:site_name' content="The Official Omaha Dog-Friendly Blog, aka the Dog Blog"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@********">
  <meta name="twitter:title" content="Omaha Dog-Friendly Blog | Omaha.dog">
  <meta name="twitter:description" content="The Official Omaha Dog-Friendly Blog, aka the Dog Blog">
  <meta name="twitter:image" content="http://omaha.dog/facebookshare.png">

<section id="blog">
  <img src="assets/blog.png" width="100%" margin="0" alt="become a dog blogger for omaha.dog">

</section>

<div id="dogblogger">
<h1> Omaha Dog-Friendly Blog (the Dog Blog) </h1>
The Omaha Dog Blog is written by the dog lovers of Omaha that want to share their experiences with having and raising a dog in Omaha. From the best dog-friendly businesses, events, pet supply stores, grooming and apartments and more, this blog gives you an insight to the best of the bests for your dog. 
</div>


<section id="blogbody" class="clearfix center">
  
<a href="/omaha-dog-friendly-blog/founders-of-omahadog">
<div id="postone">
  <img src="assets/jeannieleah2.jpg" class="blogimage">
  <div class="blogtext">
     Meet the founders of Omaha.dog, Jeannie and Leah. 
  </div>
</div>
</a>



<a href="/omaha-dog-friendly-blog/founders-of-omahadog">
<div id="postone">
  <img src="assets/jeannieleah2.jpg" class="blogimage">
  <div class="blogtext">
     Meet the founders of Omaha.dog, Jeannie and Leah. 
  </div>
</div>
</a>


<a href="/omaha-dog-friendly-blog/founders-of-omahadog">
<div id="postone">
  <img src="assets/jeannieleah2.jpg" class="blogimage">
  <div class="blogtext">
     Meet the founders of Omaha.dog, Jeannie and Leah. 
  </div>
</div>
</a>


</section>