  <title>Omaha.Dog | Dog-friendly Omaha Blog</title>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="Omaha.dog dog-friendly omaha blog shares articles about dog-friendly businesses in Omaha" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property='fb:admins' content='1499820013'/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Omaha.dog | Dog-friendly Omaha Blog"/>
  <meta property="og:description" content="Omaha.dog dog-friendly omaha blog shares articles about dog-friendly businesses in Omaha"/>
  <meta property="og:url" content="http://url.to.com/infographic/url"/>
  <meta property="og:image" content="http://omaha.dog/facebookshare.png"/>
  <meta property='og:site_name' content="Omaha.dog | Dog-friendly Omaha Blog"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@********">
  <meta name="twitter:title" content="Omaha.dog | Dog-friendly Omaha Blog">
  <meta name="twitter:description" content="Omaha.dog dog-friendly omaha blog shares articles about dog-friendly businesses in Omaha">
  <meta name="twitter:image" content="http://omaha.dog/facebookshare.png">


<h4> Dog-Friendly Omaha Blog </h4>