  <title>Become a Dog Blogger | Omaha.dog</title>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="Become a dog blogger for Omaha.dog" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property='fb:admins' content='1499820013'/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Become a Dog Blogger | Omaha.dog"/>
  <meta property="og:description" content="Become a dog blogger for Omaha.dog"/>
  <meta property="og:url" content="http://url.to.com/infographic/url"/>
  <meta property="og:image" content="http://omaha.dog/facebookshare.png"/>
  <meta property='og:site_name' content="Become a Dog Blogger | Omaha.dog"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@********">
  <meta name="twitter:title" content="Become a Dog Blogger | Omaha.dog">
  <meta name="twitter:description" content="Become a dog blogger for Omaha.dog">
  <meta name="twitter:image" content="http://omaha.dog/facebookshare.png">

<img src="assets/omahadogfacebook.jpg" width="100%" margin="0" alt="become a dog blogger for omaha.dog">
<div id="dogblogger">
<h1 > Become a Dog Blogger for Omaha.dog </h1>
We are looking for the dog owners (and lovers) of Omaha to contribute to the Omaha.dog community by sharing their experiences with raising a dog in Omaha. Whether it be a great weekend visiting local dog-friendly businesses, a dog-friendly event, sharing your favorite places for outdoor doggy excursions or hikes, your favorite pet supply or grooming stores, your favorite patio or dog-friendly spot, or really just anything you would like to share about having a dog in Omaha that would benefit other dog owners.
<br>
<br>
We would love for you to submit your story and pictures of you and your pup from that day. The blog article doesn't have to be long, just a couple paragraphs. If you're interested in becoming a Omaha.dog dog blogger, submit your first article and photos, and also a quick author biography of you and your dog(s) to <a href="mailto:jeannie@omaha.dog"> jeannie@omaha.dog</a>.
</div>