<!DOCTYPE html>
<html>
<head>
  <html lang="en">
  <!-- METADATA -->
  <title>Omaha.Dog | Dog-friendly businesses in Omaha</title>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="Project Description" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property='fb:admins' content='1499820013'/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Project Title | By ********"/>
  <meta property="og:description" content="Project Description"/>
  <meta property="og:url" content="http://url.to.com/infographic/url"/>
  <meta property="og:image" content="http://url.to.com/infographic/url/img/share-title.png"/>
  <meta property='og:site_name' content="Project Title | By ********"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@********">
  <meta name="twitter:title" content="Project Title | By ********">
  <meta name="twitter:description" content="Project Description">
  <meta name="twitter:image" content="http://url.to.com/infographic/url/img/share-title.png">


 
  
  <!-- main content -->

  <div id="wrapper">
    
    <img src ="assets/omahadog-02.svg" id="logo" class="center">
    <h2> dog-friendly businesses 
      in omaha.
    </h2>
    <div id="social" >
     <a href="http://facebook.com/omahadotdog"> <img src="assets/Facebook.svg" width="60px"></a>
      <a href="http://twitter.com/omahadotdog"><img src="assets/Twitter.svg" width="62px"></a>
        <h1>#omahadog</h1>
    </div>
    
  
         
    <button class="animated pulse delay2"> coming soon </button>
  </div></a>
  <!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/36f025548a6fa8bece05df635dbdc6bac18ab986.html" id="instansive_36f025548a" name="instansive_36f025548a"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
  

