<!DOCTYPE html>
<html>
<head>
  <html lang="en">
  <!-- METADATA -->
  <title>Omaha.Dog | Dog-friendly businesses in Omaha</title>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="Project Description" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property='fb:admins' content='1499820013'/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Project Title | By ********"/>
  <meta property="og:description" content="Project Description"/>
  <meta property="og:url" content="http://url.to.com/infographic/url"/>
  <meta property="og:image" content="http://url.to.com/infographic/url/img/share-title.png"/>
  <meta property='og:site_name' content="Project Title | By ********"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@********">
  <meta name="twitter:title" content="Project Title | By ********">
  <meta name="twitter:description" content="Project Description">
  <meta name="twitter:image" content="http://url.to.com/infographic/url/img/share-title.png">


 
  
  <!-- main content -->
  <section id="home">
    <div id="hero">
      <div id="hero-image" class="animated slideInDown">
  <div id="wrapper">
    <img src ="assets/omahadog-02.svg" id="logo" class="center">
    <h2> dog-friendly businesses 
      in omaha.
    </h2>
    
    <nav>
      <h3>restaurants</h3>
      <h3>bars</h3>
      <h3>coffee</h3>
      <h3>shopping</h3>
      <h3>parks</h3>
      <h3>events</h3>
      <h3>hotels</h3>
      <h3>work places</h3>
    <a class="scroll" data-speed="2000" href="#businessform">   <button> submit a business </button>
      <a class="scroll" data-speed="2000" href="#stickerform"><button> request a sticker </button>
    </nav>
    
  
    <div id="social">
     <a href="http://facebook.com/omahadotdog"> <img src="assets/Facebook.svg" class="facebook"></a>
      <a href="http://twitter.com/omahadotdog"><img src="assets/Twitter.svg" class="facebook"></a>
        <p>#omahadog</p>
    </div>
    
  
         
    <!-- <button class="animated pulse delay2"> coming soon </button> -->
  </div></a>
  <br>
  
      </div>
    </div>
  </section>
  <p class="centertext"> tag your dog photos #omahadog on instagram</p>
  <!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/92242a6d7d8ef46528477e2feb2f92cd3562b9e0.html" id="instansive_92242a6d7d" name="instansive_92242a6d7d"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
  
  
  <div id="forms">
  <!-- submit business form -->
<h4>Know a dog-friendly business in Omaha? Tell us! Once we confirm it, we'll post it here on the site. </h4>

<div id="businessform" class="center">
  <div id="thanks"></div>
  <form action="/contacts" method="post"> 
    <input type="text" class="form" placeholder="business name" name="name"required></h2>  
    <input type="hidden" name="date" value="<%=Time.now%>"> <input type="submit" value="submit" id="submit" class="submit "> 
  </form>
</div>

<!-- get stick form -->
<h4>Put a Omaha.Dog sticker on your door so customers know you're dog-friendly! 
  <br>Request one here, and we'll mail it to you!</h4>

<div id="stickerform" class="center">
  <div id="thanks-two"></div>
  <form action="/stickers" method="post"> 
    <input type="text" class="form" placeholder="business name" name="name" required></h2> 
    <input type="text" class="form" placeholder="business address" name="address" required></h2>  
    <input type="hidden" name="date" value="<%=Time.now%>"> <input type="submit" value="submit" id="submit" class="submit"> 
  </form>
</div>

</div>
