<!DOCTYPE html>
<html>
<head>
  <html lang="en">
  <!-- METADATA -->
  <title>genoog  | video software for professionals</title>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="Omaha.dog connects dog-friendly businesses and spaces with the community of Omaha." />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property='fb:admins' content='1499820013'/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Omaha.dog | Dog-friendly businesses in Omaha"/>
  <meta property="og:description" content="Omaha.dog connects dog-friendly businesses and spaces with the community of Omaha."/>
  <meta property="og:url" content="http://url.to.com/infographic/url"/>
  <meta property="og:image" content="http://omaha.dog/facebookshare.png"/>
  <meta property='og:site_name' content="Omaha.dog | Dog-friendly businesses in Omaha"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@********">
  <meta name="twitter:title" content="Omaha.dog | Dog-friendly businesses in Omaha">
  <meta name="twitter:description" content="Omaha.dog connects dog-friendly businesses and spaces with the community of Omaha.">
  <meta name="twitter:image" content="http://omaha.dog/facebookshare.png">

 
 
  
  <!-- main content -->
  <section id="home">
    <!-- part one hero  -->
    <div id="hero" class="clearfix">
      <div id="hero-image" class="animated fadeIn">
        <div id="wrapper" class="center">
          <img itemprop="image" src ="assets/genooglogo.svg" id="logo" class="center animated slideInLeft" alt="genoog logo">
          <h1>CONNECTIONS THAT MATTER </h1>
          <h2 class="sentence">make personal connections with your
            <div class="slidingVertical">
              <span>customers</span>
              <span>employees</span>
              <span>clients</span>
              <span>team</span>
              <span>friends</span>
            </div>
           
          </h2>
          <button class="blue center">download</button>

          </div>
        <!-- close wrapper div -->
   
        <nav>
          <br>
          <ul>
            <h3>
              <li>
                <a class="scroll" data-speed="2000" href="#restaurants"> download</a></li>
                <li> 
                  <a class="scroll" data-speed="2000" href="#bars"> contact</a></li>                
                </ul>
                </h3>
              </nav>
              <!-- close nav -->
            </div> 
            <!-- close hero image -->
          </div>
          <!-- close hero div -->
          
          <section id="works">
            <h4>
              send videos, make connections
            </h4>
            <p>
              the genoog app allows you to easily create and send a personalized video via email.<br>
              watch the video below to learn how genoog works!
            </p>
            <!-- close works section -->
          </section>
          
          <section id="tryit">
            <h4 class="white">
              try it yourself. <b>it's free!</b> 
            </h4>
            <p class="white">
              easily create videos and develop stronger connections
            </p>
            <button class="blue center"> download</button>
            <!-- close try it section -->
          </section>
          
          

