<!DOCTYPE html>
<html>
<head>
  <html lang="en">
  <!-- METADATA -->
  <title>Omaha.Dog | Dog-friendly businesses in Omaha</title>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="Project Description" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property='fb:admins' content='1499820013'/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Project Title | By ********"/>
  <meta property="og:description" content="Project Description"/>
  <meta property="og:url" content="http://url.to.com/infographic/url"/>
  <meta property="og:image" content="http://url.to.com/infographic/url/img/share-title.png"/>
  <meta property='og:site_name' content="Project Title | By ********"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@********">
  <meta name="twitter:title" content="Project Title | By ********">
  <meta name="twitter:description" content="Project Description">
  <meta name="twitter:image" content="http://url.to.com/infographic/url/img/share-title.png">


 
  
  <!-- main content -->
  <section id="home">
    <div id="hero">
      <div id="hero-image" class="animated slideInDown">
        <div id="wrapper">
          <img src ="assets/omahadog-02.svg" id="logo" class="center">
          <h2> dog-friendly businesses 
            in omaha.
          </h2>
   
     
    
          <nav>
            <a class="scroll" data-speed="2000" href="#restaurants"> <h3>restaurants</h3></a>
           <a class="scroll" data-speed="2000" href="#bars"> <h3>bars</h3></a>
            <h3>coffee</h3>
            <h3>shopping</h3>
            <h3>parks</h3>
            <h3>events</h3>
            <h3>hotels</h3>
            <h3>work places</h3>
            <a class="scroll" data-speed="2000" href="#businessform">   <button> submit a business </button>
              <a class="scroll" data-speed="2000" href="#stickerform"><button> request a sticker </button>
              </nav>
    
  
              <div id="social">
                <a href="http://facebook.com/omahadotdog"> <img src="assets/Facebook.svg" class="facebook"></a>
                <a href="http://twitter.com/omahadotdog"><img src="assets/Twitter.svg" class="facebook"></a>
                <p>#omahadog</p>
              </div>
    
  
         
              <!-- <button class="animated pulse delay2"> coming soon </button> -->
            </div></a>
            <br>
  
          </div>
        </div>
      </section>
      <h4>(site coming soon)</h4>
      <p class="centertext"> tag your dog photos #omahadog on instagram</p>
      <!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/92242a6d7d8ef46528477e2feb2f92cd3562b9e0.html" id="instansive_92242a6d7d" name="instansive_92242a6d7d"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
  
  
      <!-- restaurants  -->
  
      <div id="restaurants">
        <h4>restaurants</h4>
        <hr>
        <h5> 
          Benson Brewery
          <br>
          <a target="blank" href="https://www.google.com/maps/place/The+Benson+Brewery/@41.2847342,-96.0064637,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xc349ebdfd8b24f64"> 6059 Maple St, Omaha, NE 68104</a>
          <br><a target="blank" href="tel:402-934-8668">(402) 934-8668</a>
          <p class="centertext"> dogs allowed on patio</p>
        </h5>
    
    
        <h5> 
          Pizza West
          <br>
          <a target="blank" href="https://www.google.com/maps/place/PizzaWest/@41.180034,-96.101757,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xedcf23064f3b8d5c"> 12040 Mcdermott Plaza, La Vista, NE 68128</a>
          <br><a target="blank" href="tel:402-933-7499">(402) 933-7499</a>
          <p class="centertext"> dogs allowed on patio</p>
        </h5>
    
        <h5> 
          La Buvette
          <br>
          <a target="blank" href="https://www.google.com/maps/place/la+buvette+omaha/data=!4m2!3m1!1s0x0:0xb088ad37e208b61e?sa=X&ved=0CCQQrwswAGoVChMIkuWasYSWyAIVxo8-Ch2z-Q4E"> 511 S 11th St, Omaha, NE 68102</a>
          <br><a target="blank" href="tel:402-344-8627">(402) 344-8627</a>
          <p class="centertext"> dogs allowed on patio</p>
        </h5>
    
        <h5> 
          Famous Daves
          <br>
          <a target="blank" href="https://www.google.com/maps/dir/''/12020+Anne+St,+Omaha,+NE+68137/data=!4m5!4m4!1m0!1m2!1m1!1s0x8793f37051012ae7:0x3339b97371462701?sa=X&ved=0CBAQiBMwAGoVChMI5qGzu4OWyAIVCTs-Ch2oAwdw"> 
            12020 Anne St, Omaha, NE 68137
          </a>
          <br><a target="blank" href="tel:402-829-1616">(402) 829-1616</a>
          <p class="centertext"> dogs allowed on patio</p>
        </h5>
    
    
        <h5> 
          Infusion Brewery
          <br>
          <a target="blank" href="https://www.google.com/maps/place/infusion+brewery/data=!4m2!3m1!1s0x0:0x42ae8516af359d73?sa=X&ved=0CCQQrwswAGoVChMIw7jNg4aWyAIVA2g-Ch1zOQIR"> 	6115 Maple St, Omaha, NE 68104</a>
          <br><a target="blank" href="tel:402-916-9998">(402) 916-9998</a>
          <p class="centertext"> dogs allowed inside!</p>
        </h5>
    
    
        <!-- bars  -->
    
        <div id="bars">
          <h4>bars</h4>
          <hr>
          <h5> 
            Benson Brewery
            <br>
            <a target="blank" href="https://www.google.com/maps/place/The+Benson+Brewery/@41.2847342,-96.0064637,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xc349ebdfd8b24f64"> 6059 Maple St, Omaha, NE 68104</a>
            <br><a target="blank" href="tel:402-934-8668">(402) 934-8668</a>
            <p class="centertext"> dogs allowed on patio</p>
          </h5>
      
          <h5> 
            Dundee Cork & Bottle
            <br>
            <a target="blank" href="https://www.google.com/maps/place/Dundee+Cork+%26+Bottle/@41.2646236,-95.9904225,17z/data=!3m1!4b1!4m2!3m1!1s0x87938ddd963c5b3f:0xa04b68f63b642e76"> 614 N 50th St Omaha, NE 68132</a>
            <br><a target="blank" href="tel:402-934-2118">(402) 934-2118</a>
            <p class="centertext"> dogs allowed inside!</p>
          </h5>
  
          <h5> 
            Holiday Lounge
            <br>
            <a target="blank" href="https://www.google.com/maps/place/Holiday+Lounge/@41.260339,-96.037598,17z/data=!3m1!4b1!4m2!3m1!1s0x87938d125dda2487:0x5b753f52a5cac10e"> 	7846 Dodge St Omaha, NE 68114</a>
            <br><a target="blank" href="tel:402-391-4442">(402) 391-4442</a>
            <p class="centertext"> dogs allowed inside!</p>
          </h5>
  
          <h5> 
            Infusion Brewery
            <br>
            <a target="blank" href="https://www.google.com/maps/place/infusion+brewery/data=!4m2!3m1!1s0x0:0x42ae8516af359d73?sa=X&ved=0CCQQrwswAGoVChMIw7jNg4aWyAIVA2g-Ch1zOQIR"> 	6115 Maple St, Omaha, NE 68104</a>
            <br><a target="blank" href="tel:402-916-9998">(402) 916-9998</a>
            <p class="centertext"> dogs allowed inside!</p>
          </h5>
          
          <h5> 
            Pageturners Lounge
            <br>
            <a target="blank" href="https://www.google.com/maps/place/Pageturners+Lounge/@41.2599587,-95.9907015,17z/data=!3m1!4b1!4m2!3m1!1s0x87938ddb9b286ff1:0x1a2000efd4c93ba7"> 5004 Dodge St Omaha, NE 68132</a>
            <br><a target="blank" href="tel:402-933-3973">(402) 933-3973</a>
            <p class="centertext"> dogs allowed on the patio</p>
            <p class="centertext"> dogs allowed inside!</p>
          </h5>
          
          <h5> 
            Beercade
            <br>
            <a target="blank" href="https://www.google.com/maps/place/beercade+omaha/data=!4m2!3m1!1s0x0:0x36734c18bfad28ff?sa=X&ved=0CCcQrwswAGoVChMI1vanwouWyAIVAgw-Ch3y7A4H"> 	6104 Maple St, Omaha, NE 68104</a>
            <br><a target="blank" href="tel:402-932-3392">(402) 932-3392</a>
            <p class="centertext"> dogs allowed on the patio</p>
            <p class="centertext"> dogs allowed inside!</p>
          </h5>
  
  
  
  
        </div>
    
    
      </div>
      <!-- forms -->
      <div id="forms">
        <!-- submit business form -->
        <h4>Know a dog-friendly business in Omaha? Tell us! Once we confirm it, we'll post it here on the site. </h4>

        <div id="businessform" class="center">
          <div id="thanks"></div>
          <form action="/contacts" method="post"> 
            <input type="text" class="form" placeholder="business name" name="name"required></h2>  
            <input type="hidden" name="date" value="<%=Time.now%>"> <input type="submit" value="submit" id="submit" class="submit "> 
          </form>
        </div>

        <!-- get stick form -->
        <h4>Put a Omaha.Dog sticker on your door so customers know you're dog-friendly! 
          <br>Request one here, and we'll mail it to you!</h4>

          <div id="stickerform" class="center">
            <div id="thanks-two"></div>
            <form action="/stickers" method="post"> 
              <input type="text" class="form" placeholder="business name" name="name" required></h2> 
              <input type="text" class="form" placeholder="business address" name="address" required></h2>  
              <input type="hidden" name="date" value="<%=Time.now%>"> <input type="submit" value="submit" id="submit" class="submit"> 
            </form>
          </div>
          <!-- <img src="assets/omahadog.svg" class="center sticker"> -->

        </div>
