<!DOCTYPE html>
<html>
<head>
  <html lang="en">
  <!-- METADATA -->
  <title>Omaha.Dog | Dog-friendly businesses in Omaha</title>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="Omaha.dog connects dog-friendly businesses and spaces with the community of Omaha." />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property='fb:admins' content='1499820013'/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Omaha.dog | Dog-friendly businesses in Omaha"/>
  <meta property="og:description" content="Omaha.dog connects dog-friendly businesses and spaces with the community of Omaha."/>
  <meta property="og:url" content="http://url.to.com/infographic/url"/>
  <meta property="og:image" content="http://url.to.com/infographic/url/img/share-title.png"/>
  <meta property='og:site_name' content="Omaha.dog | Dog-friendly businesses in Omaha"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@********">
  <meta name="twitter:title" content="Omaha.dog | Dog-friendly businesses in Omaha">
  <meta name="twitter:description" content="Omaha.dog connects dog-friendly businesses and spaces with the community of Omaha.">
  <meta name="twitter:image" content="http://url.to.com/infographic/url/img/share-title.png">


 
  
  <!-- main content -->
  <section id="home">
    <div id="hero">
      <div id="hero-image" class="animated slideInDown">
        <div id="wrapper">
          <img src ="assets/omahadog-02.svg" id="logo" class="center">
      <div id="social" class="">
        <a href="http://facebook.com/omahadotdog"> <img src="assets/Facebook.svg" class="facebook"></a>
        <a href="http://twitter.com/omahadotdog"><img src="assets/Twitter.svg" class="facebook"></a>
        <p>#omahadog</p>
      </div>
          </div>
   
     
    
          <nav>
            <a class="scroll" data-speed="2000" href="#restaurants"> <h3>restaurants</h3></a>
           <a class="scroll" data-speed="2000" href="#bars"> <h3>bars</h3></a>
           <a class="scroll" data-speed="2000" href="#coffee"> <h3>coffee</h3></a>
           <a class="scroll" data-speed="2000" href="#shopping"> <h3>shopping</h3></a>
            <h3>parks</h3>
            <h3>events</h3>
            <h3>hotels</h3>
            <h3>work places</h3>
            <a class="scroll" data-speed="2000" href="#businessform">   <button> submit a business </button>
              <a class="scroll" data-speed="2000" href="#stickerform"><button> request a sticker </button>
          
              </nav>
    
            </div></a>
            <br>
  
          </div>
        </div>
      </section>
     
      <p class="centertext"> tag your dog photos #omahadog on instagram</p>
     <!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/bc5235f2d0ae7cfdfd3084a64be47a1f40df836b.html" id="instansive_bc5235f2d0" name="instansive_bc5235f2d0"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
  
  
      <!-- restaurants  -->
  
      <div id="restaurants">
        <h4>restaurants</h4>
        <hr>
        <h5> 
          Benson Brewery
          <br>
          <a target="blank" href="https://www.google.com/maps/place/The+Benson+Brewery/@41.2847342,-96.0064637,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xc349ebdfd8b24f64"> 6059 Maple St, Omaha, NE 68104</a>
          <br><a target="blank" href="tel:402-934-8668">(402) 934-8668</a>
          <p class="centertext"> dogs allowed on patio</p>
        </h5>
    
    
        <h5> 
          Pizza West
          <br>
          <a target="blank" href="https://www.google.com/maps/place/PizzaWest/@41.180034,-96.101757,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xedcf23064f3b8d5c"> 12040 Mcdermott Plaza, La Vista, NE 68128</a>
          <br><a target="blank" href="tel:402-933-7499">(402) 933-7499</a>
          <p class="centertext"> dogs allowed on patio</p>
        </h5>
    
        <h5> 
          La Buvette
          <br>
          <a target="blank" href="https://www.google.com/maps/place/la+buvette+omaha/data=!4m2!3m1!1s0x0:0xb088ad37e208b61e?sa=X&ved=0CCQQrwswAGoVChMIkuWasYSWyAIVxo8-Ch2z-Q4E"> 511 S 11th St, Omaha, NE 68102</a>
          <br><a target="blank" href="tel:402-344-8627">(402) 344-8627</a>
          <p class="centertext"> dogs allowed on patio</p>
        </h5>
    
        <h5> 
          Famous Daves
          <br>
          <a target="blank" href="https://www.google.com/maps/dir/''/12020+Anne+St,+Omaha,+NE+68137/data=!4m5!4m4!1m0!1m2!1m1!1s0x8793f37051012ae7:0x3339b97371462701?sa=X&ved=0CBAQiBMwAGoVChMI5qGzu4OWyAIVCTs-Ch2oAwdw"> 
            12020 Anne St, Omaha, NE 68137
          </a>
          <br><a target="blank" href="tel:402-829-1616">(402) 829-1616</a>
          <p class="centertext"> dogs allowed on patio</p>
        </h5>
        
        <h5> 
          Goldbergs in Dundee
          <br>
          <a target="blank" href="https://www.google.com/maps/place/Goldbergs+in+Dundee/@41.2598703,-95.991002,17z/data=!3m1!4b1!4m2!3m1!1s0x87938ddb9cd6989f:0xdec769c6d84cb34a"> 
            5008 Dodge St Omaha, NE 68132
          </a>
          <br><a target="blank" href="tel:402-556-2006">(402) 556-2006</a>
          <p class="centertext"> dogs allowed on patio</p>
        </h5>
    
    
        <h5> 
          Infusion Brewery
          <br>
          <a target="blank" href="https://www.google.com/maps/place/infusion+brewery/data=!4m2!3m1!1s0x0:0x42ae8516af359d73?sa=X&ved=0CCQQrwswAGoVChMIw7jNg4aWyAIVA2g-Ch1zOQIR"> 	6115 Maple St, Omaha, NE 68104</a>
          <br><a target="blank" href="tel:402-916-9998">(402) 916-9998</a>
          <p class="centertext"> dogs allowed inside!</p>
        </h5>
    
    
        <!-- bars  -->
    
        <div id="bars">
          <h4>bars</h4>
          <hr>
          <h5> 
            Benson Brewery
            <br>
            <a target="blank" href="https://www.google.com/maps/place/The+Benson+Brewery/@41.2847342,-96.0064637,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xc349ebdfd8b24f64"> 6059 Maple St, Omaha, NE 68104</a>
            <br><a target="blank" href="tel:402-934-8668">(402) 934-8668</a>
            <p class="centertext"> dogs allowed on patio</p>
          </h5>
      
          <h5> 
            Dundee Cork & Bottle
            <br>
            <a target="blank" href="https://www.google.com/maps/place/Dundee+Cork+%26+Bottle/@41.2646236,-95.9904225,17z/data=!3m1!4b1!4m2!3m1!1s0x87938ddd963c5b3f:0xa04b68f63b642e76"> 614 N 50th St Omaha, NE 68132</a>
            <br><a target="blank" href="tel:402-934-2118">(402) 934-2118</a>
            <p class="centertext"> dogs allowed inside!</p>
          </h5>
  
          <h5> 
            Holiday Lounge
            <br>
            <a target="blank" href="https://www.google.com/maps/place/Holiday+Lounge/@41.260339,-96.037598,17z/data=!3m1!4b1!4m2!3m1!1s0x87938d125dda2487:0x5b753f52a5cac10e"> 	7846 Dodge St Omaha, NE 68114</a>
            <br><a target="blank" href="tel:402-391-4442">(402) 391-4442</a>
            <p class="centertext"> dogs allowed inside!</p>
          </h5>
  
          <h5> 
            Infusion Brewery
            <br>
            <a target="blank" href="https://www.google.com/maps/place/infusion+brewery/data=!4m2!3m1!1s0x0:0x42ae8516af359d73?sa=X&ved=0CCQQrwswAGoVChMIw7jNg4aWyAIVA2g-Ch1zOQIR"> 	6115 Maple St, Omaha, NE 68104</a>
            <br><a target="blank" href="tel:402-916-9998">(402) 916-9998</a>
            <p class="centertext"> dogs allowed inside!</p>
          </h5>
          
          <h5> 
            Pageturners Lounge
            <br>
            <a target="blank" href="https://www.google.com/maps/place/Pageturners+Lounge/@41.2599587,-95.9907015,17z/data=!3m1!4b1!4m2!3m1!1s0x87938ddb9b286ff1:0x1a2000efd4c93ba7"> 5004 Dodge St Omaha, NE 68132</a>
            <br><a target="blank" href="tel:402-933-3973">(402) 933-3973</a>
            <p class="centertext"> dogs allowed on the patio</p>
            <p class="centertext"> dogs allowed inside!</p>
          </h5>
          
          <h5> 
            Beercade
            <br>
            <a target="blank" href="https://www.google.com/maps/place/beercade+omaha/data=!4m2!3m1!1s0x0:0x36734c18bfad28ff?sa=X&ved=0CCcQrwswAGoVChMI1vanwouWyAIVAgw-Ch3y7A4H"> 	6104 Maple St, Omaha, NE 68104</a>
            <br><a target="blank" href="tel:402-932-3392">(402) 932-3392</a>
            <p class="centertext"> dogs allowed on the patio</p>
            <p class="centertext"> dogs allowed inside!</p>
          </h5>
  
  <h5> 
    The Holiday Lounge
    <br>
    <a target="blank" href="https://www.google.com/maps/place/Holiday+Lounge/@41.260339,-96.037598,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x5b753f52a5cac10e"> 	7846 Dodge St Omaha, NE 68114</a>
    <br><a target="blank" href="tel:402-391-4442">(402) 391-4442</a>
    <p class="centertext"> dogs allowed inside!</p>
  </h5>
  
  
  
  
        </div>
        
        
        <!-- coffee  -->
    
        <div id="coffee">
          <h4>coffee</h4>
          <hr>
          <h5> 
            Blue Line Coffee in Dundee
            <br>
            <a target="blank" href="https://www.google.com/maps/place/Blue+Line+Coffee/@41.2851635,-96.0074571,13z/data=!4m5!1m2!2m1!1sblueline+coffee!3m1!1s0x87938dddf31a976f:0xef244ced6cbbb9f9"> 4924 Underwood Ave Omaha, NE 68132</a>
            <br><a target="blank" href="tel:402-502-6707">(402) 502-6707</a>
            <p class="centertext"> dogs allowed inside!</p>
            <p class="centertext"> dogs allowed on patio</p>
          </h5>
          
          
          <h5> 
            Howlin' Hounds Coffee
            <br>
            <a target="blank" href="https://www.google.com/maps/place/Howlin'+Hounds+Coffee/@41.2529874,-95.9375235,17z/data=!3m1!4b1!4m2!3m1!1s0x87938fab8ec06525:0x6c1258f47fe6809c"> 712 S 16th St Omaha, NE 68102</a>
            <br><a target="blank" href="tel:402-403-9230">(402) 403-9230</a>
            <p class="centertext"> dogs allowed on patio</p>
          </h5>
          
          <h5> 
            Omaha Bicycle Company & Coffee
            <br>
            <a target="blank" href="https://www.google.com/maps/place/Omaha+Bicycle+Company/@41.2847999,-96.0055062,17z/data=!3m1!4b1!4m2!3m1!1s0x879392755f63fdf9:0x650654afc8d9ef9b"> 6015 Maple St Omaha, NE 68104</a>
            <br><a target="blank" href="tel:402-315-9900">(402) 315-9900</a>
            <p class="centertext"> dogs allowed inside!</p>
            <p class="centertext"> dogs allowed on patio</p>
          </h5>
    
    
      </div>
      
      
      <!-- shopping -->
      
      
  
      <div id="shopping">
        <h4>shopping</h4>
        <hr>
        <h5> 
          Luvbird Boutique
          <br>
          <a target="blank" href="https://www.google.com/maps/place/luvbird+boutique/data=!4m2!3m1!1s0x0:0xff3cbc17064c7c4b?sa=X&ved=0CCQQrwswAGoVChMIto3q1fyXyAIVAkg-Ch04SgCF"> 2110 S 67th St # 120, Omaha, NE 68106</a>
          <br><a target="blank" href="tel:402-502-9924">(402) 502-9924</a>
          <p class="centertext"> dogs allowed inside!</p>
          
        </h5>
        
        
        <h5> 
          Hutch
          <br>
          <a target="blank" href="https://www.google.com/maps/place/hutch/@41.2579713,-95.9611397,17z/data=!3m1!4b1!4m2!3m1!1s0x87938e4332260395:0x54a41b2959479b24"> 3220 Farnam St #2101, Omaha, NE 68131</a>
          <br><a target="blank" href="tel:402-403-4590">(402) 403-4590</a>
          <p class="centertext"> dogs allowed inside!</p>
          
        </h5>
        
        <h5> 
          The Afternoon
          <br>
          <a target="blank" href="https://www.google.com/maps/place/the+afternoon+omaha/data=!4m2!3m1!1s0x0:0xe6ed9c767c4fb2d1?sa=X&ved=0CCQQrwswAGoVChMIqLSyvv2XyAIVRj0-Ch0MQAen"> 3157 Farnam St Suite 7101, Omaha, NE 68131</a>
          <br><a target="blank" href="tel:402-933-3809">(402) 933-3809</a>
          <p class="centertext"> dogs allowed inside!</p>
          
        </h5>
        
        <h5> 
          Mangelsens
          <br>
          <a target="blank" href="https://www.google.com/maps/place/mangelsen's+omaha/data=!4m2!3m1!1s0x0:0x131d18b524c735?sa=X&ved=0CCkQrwswAGoVChMIvNn7nP6XyAIVyNg-Ch3Klgcx"> 3457 S 84th St, Omaha, NE 68124</a>
          <br><a target="blank" href="tel:402-391-6225">(402) 391-6225</a>
          <p class="centertext"> dogs allowed inside!</p>
          
        </h5>
        
        
        <h5> 
          The Green Spot
          <br>
          <a target="blank" href="https://www.google.com/maps/place/the+green+spot+omaha/data=!4m2!3m1!1s0x0:0x25572d1122d147a9?sa=X&ved=0CCcQrwswAGoVChMIovXiwv6XyAIVSx0-Ch1eUggF"> 	Shoppes at Aksarben, 1110 S 71st St, Omaha, NE 68106</a>
          <br><a target="blank" href="tel:402-614-7768">(402) 614-7768</a>
          <p class="centertext"> dogs allowed inside!</p>
          
        </h5>
        
        <h5> 
          Three Dog Bakery
          <br>
          <a target="blank" href="https://www.google.com/maps/place/three+dog+bakery/data=!4m2!3m1!1s0x0:0xdfe83c2f8a5788dc?sa=X&sqi=2&ved=0CCQQrwswAGoVChMI1bKC6P6XyAIVwnM-Ch2DTQxt"> 	3201 Farnam St #6108, Omaha, NE 68131</a>
          <br> <a target="blank" href="https://www.google.com/maps/place/three+dog+bakery+village/data=!4m2!3m1!1s0x0:0x9ec8378b2520ddde?sa=X&ved=0CCQQrwswAGoVChMIsuvblP-XyAIVg2w-Ch17fge0">Village Pointe, 17151 Davenport St #119, Omaha, NE 68118</a>
          <br><a target="blank" href="tel:402-715-4500">(402) 715-4500</a>
          <p class="centertext"> dogs allowed inside!</p>
          
        </h5>
        
        
        
        
      </div>
      <!-- forms -->
      <div id="forms">
        <!-- submit business form -->
        <h4>Know a dog-friendly business in Omaha? Tell us! Once we confirm it, we'll post it here on the site. </h4>

        <div id="businessform" class="center">
          <div id="thanks"></div>
          <form action="/contacts" method="post"> 
            <input type="text" class="form" placeholder="business name" name="name"required></h2>  
            <input type="hidden" name="date" value="<%=Time.now%>"> <input type="submit" value="submit" id="submit" class="submit "> 
          </form>
        </div>

        <!-- get stick form -->
        <h4>Put a Omaha.dog sticker on your door so customers know you're dog-friendly! 
          <br>Request one here, and we'll mail it to you!</h4>

          <div id="stickerform" class="center">
            <div id="thanks-two"></div>
            <form action="/stickers" method="post"> 
              <input type="text" class="form" placeholder="business name" name="name" required></h2> 
              <input type="text" class="form" placeholder="business address" name="address" required></h2>  
              <input type="hidden" name="date" value="<%=Time.now%>"> <input type="submit" value="submit" id="submit" class="submit"> 
            </form>
          </div>
          <img src="assets/omahadog.svg" class="center sticker">
</div>
<section id="blue">
        
        <h4 class="white"> Omaha.dog is operated by two best friends that love Omaha, dogs, and the community.</h4>
        <div id="besties" class="center">
        </div>
       
</section>
