<!DOCTYPE html>
<html>
<head>

  <!-- ICONS -->
  <link href="assets/favicon.ico" rel="shortcut icon">



  <!-- STYLESHEETS-->
  
 
  <link rel="stylesheet" type="text/css" media="all" href="css/main.css" />
  <link rel="stylesheet" type="text/css" media="all" href="css/animate.css" />
  
  
  <!-- fonts -->
  
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
</head>
<body>
 
  <%=yield%>
</div>
  
 
  <footer>
    <a class="scroll" data-speed="2000" href="#home"><img src="assets/arrow.svg" id="arrow"></a>
     <img src="assets/genooglogo2.svg" width="100px" class="center">
    copyright 2015 genoog is a video app for professionals and small business owners that allows  you to send personalized videos via email.
    
  </footer>

  <script src="js/scroll.js" type="text/javascript"></script>
  <script src="js/main.js" type="text/javascript"></script>
  

</body>
</html>