
  
  <!-- main content -->
  <section id="home">
  
    <div id="hero">
      <div id="hero-image" class="animated slideInDown">
        <div id="wrapper">
         <h1> WHAT TYPE OF</h1>
         <h2> HUSKERS</h2>
         <h1> FAN ARE YOU?</h1>
         <button class="animated tada delay2"> start the quiz </button>
       </div>
        </div>
       
    
    </div>
  </section>


