<!-- main content -->
<section id="home">
  <div id="hero">
    <div id="hero-image" class="animated slideInDown">
      <div id="question-wrapper" class="clearfix">
        <h1> WHAT'S YOUR TYPICAL GAME DAY 
          <br><b>ATTIRE</b>?</br></h1>
    
        <a href="/question-two"> 
          <div id="q2o1">
            In line, ready to be the first one in the stadium. I never miss a home game.
          </div>
        </a>
        <a href="/question-two">
          <div id="q2o2">
            Tail-gating outside the stadium, who needs to go inside when we got this big screen?
          </div>
        </a>
        <a href="/question-two">
          <div id="q2o3">
            At the local pub with the rest of the fans.
          </div>
        </a>
        <a href="/question-two">
          <div id="q2o4">
            Comfy on my couch.
          </div>
        </a>
  
       
      </div>
    </div>
  </div>
</section>


