<br>
<br>
<br>
<br>
<br>
<h1> Thanks for helping the dog-friendliness of Omaha! </h1>

<p>Connect with us on social!<p>
<div id="socialwrap" class="center clearfix">
<div id="fb" class="center">
 <div class="fb-post" data-href="https://www.facebook.com/omahadotdog/photos/a.735389099941243.1073741828.735378543275632/742113972602089/?type=3&amp;theater" data-width="200"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/omahadotdog/posts/742113972602089:0"><p>An excuse to leave work a little early tomorrow! On Wednesdays Infusion Brewing Company in Benson does &quot;Paws and Pints&quot;...</p>Posted by <a href="https://www.facebook.com/omahadotdog">Omaha.Dog</a> on&nbsp;<a href="https://www.facebook.com/omahadotdog/posts/742113972602089:0">Tuesday, September 22, 2015</a></blockquote></div></div>
</div>

<div id="twitter" class="center">
  <a class="twitter-timeline" href="https://twitter.com/omahadotdog" data-widget-id="649275887116881920">Tweets by @omahadotdog</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</div>

    <p class="centertext"> tag your dog photos #omahadog on instagram</p>
    <!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/bc5235f2d0ae7cfdfd3084a64be47a1f40df836b.html" id="instansive_bc5235f2d0" name="instansive_bc5235f2d0"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
    
