          <section id="works">
            <h4>
              thanks for <br class="show"> contacting us
            </h4>
            <p>
              a genoog team member will get back to you within 24 hours.
            </p>
            <!-- close works section -->
          </section>
          
         