          <section id="works">
            <h4>
              thanks for contacting us
            </h4>
            <p>
              a genoog team member will get back to you within 24 hours.
            </p>
            <!-- close works section -->
          </section>
          
          <section id="thankspage">
            <img itemprop="image" src ="assets/genooglogo2.svg" id="logo" class="center animated slideInLeft" alt="genoog logo">
            
          </section>