@media (max-width: 3000px){
  
  html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.facebook {
  width:50px;
}
#home {
  position:relative;
  width:100%;
  z-index:500;
  /*  border:1px solid red;*/
  
}

#about {
  position:relative;
  color:white;
  background-color:#4EA1D9;
  padding:8%;
  width:100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight:200;
  line-height:35px;
  text-align:center;
}
button.long {
  width:300px;
}
#about:first-line {
  font-size: 35px;
  line-height:45px;
}

.center {
  position:relative;
  margin-right:auto;
  margin-left:auto;
  display:block;
}

#fb {
  width:350px;
  float:left;
/*  border:1px solid;*/
}
#twitter {
  width:500px;
  float:left;
/*  border:1px solid;*/
}

#socialwrap{
  width:850px;
}


body {
  margin: 0;
}

a {
  text-decoration:none;
  color:#3FA9F5;
}

a:hover {
  color:black;
}

h3:hover {
  color:#3FA9F5;
}

/*clear fix*/
.clearfix::after {
  content:" ";
  display:table;
  clear:both;
  
}
.centertext {
  text-align:center;
  font-size:15px;
  line-height:17px;
  color:#B2B2B2;
}
a.white {
  color:white;
}
a.white:hover {
  color:black;
  
}

#mobileheader{
  position:absolute;
  top:0;
  right:7%;
  display:none;
}

.logodog {
  position:relative;
  width:50px;
  float:left;
  right:-20px;
}
#header {
  display:block;
  position:fixed;
  background-color:#4EA2DA;
  color:white;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight:200;
  line-height:35px;
  z-index:1;
  width:100%;
}

li {
  display:inline-block;
  margin-left:25px;
  margin-right:25px;
}

#hero {
  position:relative;
  display:block;
  width:100%;
  height:720px;
  margin-top:0;
  /*  border:1px solid red;*/
}

#hero-image {
  position:absolute;
  top:0;
  padding-top:3%;
  display:block;
  width:100%;
  height:720px;
  background:url("../assets/omahadog.jpg");
  background-color:black;
  background-size:cover;
  background-position:50% 10%;
 
}

#besties {
  position:relative;
  width:300px;
  height:300px;
  background:url("../assets/jeannieleah.jpg");
  background-color:black;
  background-size:cover;
  background-position:50% 50%;
  border-radius:50%;
 
}
#blue {
  position:relative;
  display:block;
  width:100%;
  background-color:#4EA1D9;
  padding:8%;
/*  border:1px solid;*/
  
}
#arrow {
  width:40px;
  position:fixed;
  bottom:5px;
  right:5px;
  display:none;
  z-index:1000;
}
#wrapper {
  margin-top:200px;
/*  border:1px solid;*/
  
}

.sticker {
  width:30%;
  
  position:relative;
}


h1 {
  position:relative;
  color:#B2B2B2;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight:200;
  line-height:35px;
  
}

h1.white {
  
  color:white;
}

p {
  position:relative;
  color:#B2B2B2;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight:200;
  line-height:19px;
  
  
  
}

#logo {
  width:45%;
  margin-bottom:0;
  max-width:1000px;
  
}

h2 {
  position:relative;
  color:white;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight:200;
  line-height:0px;
  margin-top:-100px;
  
}

h3 {
  position:relative;
  color:white;
  text-align:right;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight:200;
  line-height:35px;
  
  
}

h4 {
  position:relative;
  color:#B2B2B2;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight:200;
  line-height:35px;
  
}
h4.white {
  position:relative;
  color:white;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight:200;
  line-height:35px;
  
}

hr {
  width:70%;
  margin-top:-25px;
}

h5 {
  position:relative;
  color:black;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  line-height:40px;
  font-weight:200;
  
  
  
}

nav {
  position:absolute;
  top:0;
  right:50px;
}

#social {
  position:absolute;
  bottom:1%;
  left:1%;
  width:150px;
  
/*  border:1px solid;*/
}

button {
  position:relative;
  width:210px;
  margin-left:auto;
  margin-right:auto;
  margin-top:5%;
  display:block;
  padding:3%;
  color:white;
  border:1px solid;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight:400;
  background-color:transparent;
  -webkit-appearance:none;
}

button:hover {
  background-color:black;
}

footer {
  position:relative;
  bottom:0;
  color:#A5A4A4;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight:100;
  padding:2%;
  
}

b{
  color:black;
}
#businessform {
  width:460px;
/*  border:1px solid;*/
  height:auto;
  
}
#stickerform {
  width:750px;
/*  border:1px solid;*/
  height:auto;
  
}

.form {
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  font-size: 20px;
  height:60px;
  padding:1%;
  width:320px;
  
}
.submit {
  background-color:black;
  padding:1%;
  height:60px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  border:none;
  -webkit-appearance:none;
}
.submit:hover {
  background-color:#3FA9F5;
  padding:1%;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  
}
#forms {
  margin:5%;
}

}

@media (max-width: 1800px){
  
  #hero {
    position:relative;
    display:block;
    width:100%;
    height:780px;
    margin-top:0;
    /*  border:1px solid red;*/
  }

  #hero-image {
    position:absolute;
    top:0;
    padding-top:3%;
    display:block;
    width:100%;
    height:780px;
    background:url("../assets/omahadog.jpg");
    background-color:black;
    background-size:cover;
    background-position:50% 50%;
 
  }
  
  h2 {
    position:relative;
    color:white;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight:200;
    line-height:0px;
    margin-top:-70px;
  
  }
}



@media (max-width: 1059px){
  h2 {
    position:absolute;
    top:75px;
    color:white;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight:200;
    line-height:40px;
    margin-top:0px;
    left:40px;
  
  }
  
  #logo {
    width:300px;
    position: absolute;
    top:0;
    left:0;
  }
  
  #hero {
    position:relative;
    display:block;
    width:100%;
    height:680px;
    margin-top:0;
    /*  border:1px solid red;*/
  }

  #hero-image {
    position:absolute;
    top:0;
    padding-top:3%;
    display:block;
    width:100%;
    height:680px;
    background:url("../assets/omahadog.png");
    background-color:black;
    background-size:cover;
    background-position:50% 50%;
 
  }

  .facebook {
    width:30px;
  }
  h3 {
    position:relative;
    color:white;
    text-align:right;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight:200;
    line-height:25px;
  
  
  }
  .sticker {
    width:80%;
  
    position:relative;
  }
  #businessform {
    width:320px;
  /*  border:1px solid;*/
    height:auto;
    
  }
  #stickerform {
    width:320px;
  /*  border:1px solid;*/
    height:auto;
  
  }
  .form {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    font-size: 20px;
    height:60px;
    padding:1%;
    width:220px;
  
  }
  #header {
    font-size:16px;
    padding:0;
  }
  li {
    margin-right:5px;
    margin-left:5px;
  }
}
@media (max-width: 800px){

#fb {
  width:300px;
  float:none;
  margin-left:-20px;
/*  border:1px solid;*/
}
#twitter {
  width:300px;
  float:none;
/*  border:1px solid;*/
}

#socialwrap {
  width:300px;
/*  border:1px solid;*/
}

}

@media (max-width: 600px){

  h4 {
    font-size:20px;
    line-height:23px;
  }
  #hero {
    position:relative;
    display:block;
    width:100%;
    height:700px;
    margin-top:0;
    /*  border:1px solid red;*/
  }
  
  #mobileheader {
    display:block;
  }
  
  h5 {
    position:relative;
    color:black;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight:200;
    line-height:25px;
  
  }

  #hero-image {
    position:absolute;
    top:0;
    padding-top:3%;
    display:block;
    width:100%;
    height:700px;
    background:url("../assets/omahadog.png");
    background-color:black;
    background-size:cover;
    background-position:50% 50%;
 
  }
  
  nav {
    position:relative;
    top:-120px;
    margin-left:auto;
    margin-right:auto;
    right:0;
    
  }
  h3 {
    text-align:center;
    line-height:20px;
  }
  #logo {
    width:300px;
    position: relative;
  
    
    
  }
  #wrapper {
    margin-top:-20px;
    margin-bottom:110px;
  /*  border:1px solid;*/
  
  }
  h2 {
    position:relative;
    top:-100px;
    left:-5px;
    color:white;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight:200;
    line-height:40px;
    margin-top:0px;
    
  
  }
 
  .facebook {
    width:20px;
  }
  #social {
  display:none;
  }
  
  #header {
    display:none;
  }
  
}

@media (max-width: 414px){
 
  #header {
    display:none;
  }
  #hero {
   
    height:640px;
   
    /*  border:1px solid red;*/
  }

  #hero-image {
    
    height:640px;
 
 
  }
  #mobileheader{
    display:block;
  }
  
  #social {
  display:none;
  }
  
  
}

