  <title>Omaha Dog-Friendly Blog | Omaha.dog</title>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="The Official Omaha Dog-Friendly Blog, aka the Dog Blog " />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property='fb:admins' content='1499820013'/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Omaha Dog-Friendly Blog | Omaha.dog"/>
  <meta property="og:description" content="The Official Omaha Dog-Friendly Blog, aka the Dog Blog"/>
  <meta property="og:url" content="http://url.to.com/infographic/url"/>
  <meta property="og:image" content="http://omaha.dog/facebookshare.png"/>
  <meta property='og:site_name' content="The Official Omaha Dog-Friendly Blog, aka the Dog Blog"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@********">
  <meta name="twitter:title" content="Omaha Dog-Friendly Blog | Omaha.dog">
  <meta name="twitter:description" content="The Official Omaha Dog-Friendly Blog, aka the Dog Blog">
  <meta name="twitter:image" content="http://omaha.dog/facebookshare.png">

<section id="blog" class="clearfix">
<div id="postbody" class="center">
<img src="../assets/jeannieleah2.jpg" class="blogimagefloatleft">

<h1 class="left"> About Omaha.dog </h1>
<p class="left">

We love Omaha and so do our dogs! Being able to take our canine friends around the city with us to enjoy all there is to offer is one of our most favorite things. 
  
<p class="left">Through our community involvement and the power of social media, we have found many more just like us. 
<img src="../assets/rueriloh.jpg" class="blogimagefloatright">
<p class="left">  
 
  That's why we decided to start <a href="http://www.Omaha.dog">Omaha.dog</a> - a community effort to promote dog-friendly places and spaces. We want Omaha to be the best city it can be - and we think being dog-friendly will make it that much better.
  
<p class="left">Omaha.dog was started by two friends that do this for fun. Please spread the word
about Omaha.dog and thank you for being dog-friendly!

<p class="left">Thanks! Jeannie & Leah
</p>

</div>




</section>

